[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
d3rlpy = "*"
numpy = "*"
gym-marioai = {path = "./gym-marioai"}
inputs = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.8"
