[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
d3rlpy = "*"
numpy = "*"
gym-marioai = {path = "./gym-marioai"}
inputs = "*"
keyboard = "*"
tensorboard = "*"
jupyter = "*"
pypiwin32 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
train = "python exercise_offline_rl/train_offline.py"
play = "python exercise_offline_rl/play.py"
board = "tensorboard --logdir runs"
start = "pipenv run jupyter notebook ./exercise_offline_rl/marioai_offline_rl.ipynb"
